@model MvcFriendcode.Models.FriendCode

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (!Context.User.Identity.IsAuthenticated)
{
    <h3>You are not logged in!</h3>
    <h4>Log in to edit entries.</h4>
    <h5>Also, stop trying to sneak around the restrictions, you weasel.</h5>
}

@if (Context.User.Identity.IsAuthenticated)
{
    string dUser = Html.DisplayFor(model => model.User).ToString();
    
    if (dUser != HttpContext.Current.User.Identity.Name)
    {
        <h3>This user isn't you!</h3>
    }

    if (dUser == HttpContext.Current.User.Identity.Name)
    {

        using (Html.BeginForm())
        {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FriendCode</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.User)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User)
            @Html.ValidationMessageFor(model => model.User)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAdded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
        }
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
