@model IEnumerable<MvcFriendcode.Models.FriendCode>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>SearchIndex</h2>

@if (Context.User.Identity.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("SearchIndex", "Friendcodes", FormMethod.Get))
    {
        <p>Code: @Html.DropDownList("FriendcodeCode", "All")
         User: @Html.TextBox("SearchString")<br />
        <input type="submit" value="Filter" /></p>
    }
</p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    string cUser = Html.DisplayFor(modelItem => item.User).ToString();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        @if(Context.User.Identity.IsAuthenticated) {
            if (cUser != HttpContext.Current.User.Identity.Name)
            {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
            }
            if (cUser == HttpContext.Current.User.Identity.Name)
            {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
            }
        }
        
        @if (!Context.User.Identity.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
        }   
    </tr>
}

</table>
